*.tmp export-ignore
*.old export-ignore
tmp export-ignore
hold export-ignore
bodytxt export-ignore
*old.png export-ignore
*tmp.png export-ignore
preview.png export-ignore
.gitignore export-ignore
.gitattributes export-ignore

