{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ "G", "Na", "Ko", "Tru", "Ta", "Da", "Ha", "Ja", "Ka", "Li", "Mi", "Pik", "Du", "J", "J'Quoth", "Kha", "Ra", "Ru", "Tu", "Vin", "Sha", "T" ],
"'",
      [ "Kar", "Quan", "Lan", "Ston", "Toth", "Kili", "Sten", "Dath", "Kal", "Tok", "Nil", "Lon", "Kal", "Ten", "Dar", "Het", "Dak", "Ra", "Nar", "Rog", "Dan", "Drog", "Rok", "Doc", "Dog", "Tiel", "Mak", "Dac", "Far", "Tok", "Pak", "Kog", "Karn", "Lorn", "Bar", "Pari"]
    ]
  ]
}
